<div class="w-100 mb-sm" fxLayoutAlign="end center">
    <button (click)="close()" class="exit-icon" mat-icon-button><mat-icon>clear</mat-icon></button>
  </div>
  <h1 class="mt-0 mb-xs mlr-auto">Name Group</h1>
  <form class="login-form w-100" fxLayout="column" fxLayoutAlign="center center" [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="w-100 mb-xs" appearance="fill">
      <mat-label>Group:</mat-label>
      <input type="text" formControlName="name" class="form-control white" matInput/>
    </mat-form-field>
    <button mat-raised-button class="mb-xs mt-xs w-100 button" [disabled]="addUserForm.invalid">
      <div type="submit" fxLayout="row" fxLayoutAlign="center center">
        <div class="placeholder mr-sm"></div>
        <h1 class="mtb-sm">Save</h1>
        <mat-spinner [diameter]="20" class="ml-sm" *ngIf="loading"></mat-spinner>
        <div class="placeholder ml-sm" *ngIf="!loading"></div>
      </div>
    </button>
  </form>
