@import '../../../vars.scss';

.outter {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;

  background-image: linear-gradient(to bottom, rgba(0,0,0,0.4),  rgba(0,0,0,0.6)),
  url('../../../assets/pictures/FriendsPictureSmall.jpg');
  background-position : center bottom;
  background-size: cover;
	background-repeat: no-repeat;
}
